**Question 1**

**University Sports Score - Runner-up**

In [2]:
list_val = []

num_list = int(input("Enter number of scores in list: "))

for i in range(1, num_list + 1):
    element = int(input("Enter the scores: "))
    list_val.append(element)

list_val.sort()
print('List of Scores',list_val)
print("Runner-up score is:", list_val[-2])

Enter number of scores in list: 6
Enter the scores: 15
Enter the scores: 20
Enter the scores: 14
Enter the scores: 12
Enter the scores: 10
Enter the scores: 8
List of Scores [8, 10, 12, 14, 15, 20]
Runner-up score is: 15

**Question 2**

**Dictionary**

In [14]:
D={'John':[25,32,43], 'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
user_input=''
user_input=input('Enter a name: ')
if user_input in D.keys():
   D.update({user_input:[88,77,99]})
   print(D)

else:
   print('Name not found')

Enter a name: Ram
{'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [88, 77, 99], 'Meena': [63, 79, 85]}

**Question 3**

**Ticket Price Calculator**

In [20]:
Age=0
Gender=''
Age=int(input('Enter your age : '))

if Age>0 and Age<5:
  print('Ticket price is free')
elif Age>5 and Age<12:
  Gender=input('Enter your Gender(Male/Female) : ')
  if Gender=='Male':
     print('Ticket price is Rs.10')
  else:
     print('Ticket price is 50% of the applicable rate is Rs.5')
elif Age>12 and Age<60:
  Gender=input('Enter your Gender(Male/Female) : ')
  if Gender=='Male':
     print('Ticket price is Rs.50')
  else:
     print('Ticket price is 50% of the applicable rate is Rs.25')
else:
  print('Ticket price is free')

Enter your age : 7
Enter your Gender(Male/Female) : Female
Ticket price is 50% of the applicable rate is Rs.5